#!/bin/bash
set -e;
declare -A SECRETS
SECRETS[contentSignerSecret]=""
SECRETS[contentSignerSalt]=""
SECRETS[googleOAuthApiKey]=""
SECRETS[googleOAuthApiSecretKey]=""
SECRETS[googleApiAppId]=""
SECRETS[googleApiKey]=""
SECRETS[invitationSignerSecret]=""
SECRETS[invitationSignerSalt]=""


for K in "${!SECRETS[@]}"; do
	V=${SECRETS[$K]};
	find ./etc -type f -name \*.zcml -exec sed -i s/~~$K~~/$V/g {} +
done

